@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WcfApi</title>
</head>
<body>
    <div>
        成功返回页面！
    </div>
</body>
</html>
